:root {
    --bg-color: #1D232A;
    --bg-cabecalho: #15191C;
    --bg-card: #313d46;
    --track-loading: rgba(231, 231, 231, 0.1);
    --thumb-loading: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: var(--bg-cabecalho);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid white;
    padding: .6rem 0;
}

.cabecalho-img {
    width: 200px;
}

.titulo-cabecalho {
    font-size: 2rem;
}

main {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-carregando {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .6rem;
}

.mensagem-tela {
    text-align: center;
    margin: 2rem 0 0;
    padding-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.carregando {
    border: 4px solid var(--track-loading);
    border-top-color: var(--thumb-loading);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    animation: spin 0.7s infinite linear;
} 

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buscar {
    padding: .75rem;
    float: left;
    border: 1px solid white;
}

.input-buscar {
    border-radius: 6px 0 0 6px;
    font-size: 1.1rem;
}

.button-buscar {
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    background-color: var(--bg-cabecalho);
    font-size: 1.1rem;
    color: white;
}

.button-buscar:hover {
    cursor: pointer;
    color: #C78C19;
}

.lista-personagens {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin: 2rem 0;
}

.itens {
    background-color: var(--bg-card);
    overflow: auto;
    width: 20vw;
    height: 74vh;
    border-radius: 1rem;
    margin: 0 2rem 2rem;
}

.itens::-webkit-scrollbar {
    width: .5rem;
}

.itens::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: .8rem;
}

.itens::-webkit-scrollbar-track {
    background: transparent;
}

.info-personagens {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 0 .65rem;
    letter-spacing: 0.6px;
}

.imagem-personagem {
    width: 100%;
}

.nome-personagem {
    font-size: 1.7rem;
}

.status-personagem {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.bolinha {
    width: .6rem;
    height: .6rem;
    border-radius: 16rem;
}

.buttons-prev-next {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botao {
    border-radius: .8rem;
    border: 1px solid white;
    text-transform: uppercase;
    background-color: var(--bg-cabecalho);
    font-size: 1.1rem;
    color: white;
    padding: .8rem;
}

.botao:hover {
    cursor: pointer;
    color: #C78C19;
}

footer {
    background-color: var(--bg-cabecalho);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid white;
}

footer p {
    margin: 1rem;
}

.rodape-img {
    margin-top: .6rem;
    width: 5%;
}

.rodape-links li {
    display: inline;
}

.link-perfil:hover {
    transform: scale(1.075);
}

@media screen and (max-width: 480px) {
    .cabecalho-img {
        width: 160px;
    }

    .titulo-cabecalho {
        font-size: 1.5rem;
    }

    main {
        margin: 1rem 0;
    }

    .input-buscar, .button-buscar {
        font-size: 1rem;
    }

    .lista-personagens {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2rem 1rem;
    }

    .itens {
        width: 90vw;
        height: 75%;
    }
}